{% extends "base.html" %}

{% block content %}
<h1>SyncUp</h1>
<p>Find the best time for everyone</p>

<div style="margin-top: 20px;">
    <a href="/create-group" style="text-decoration: none; color: black; margin-right: 10px;">
        <button>Create Group</button>
    </a>
    <a href="/groups/join" style="text-decoration: none; color: black; margin-right: 10px;">
        <button>Join Group</button>
    </a>
    <a href="/display-best-times" style="text-decoration: none; color: black;">
        <button>View Schedule</button>
    </a>
</div>
{% endblock %}
